.feature {
	padding:    1.5rem;
	transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.feature:hover {
	transform:  translateY(-5px);
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.iconContainer {
	display:         flex;
	justify-content: center;
	align-items:     center;
	margin:          0 auto;
	margin-bottom:   2rem;
	padding:         0 20px;
	max-width:       675px;
	color:           var(--ifm-color-primary);
}

.iconContainer svg {
	width:  auto;
	height: auto;
}
